#primary-navigation {
	@include media-breakpoint-down(sm) {
	    position: absolute;
	    top: 100%;
	    z-index: 999;
	    background: #fff;
	    left: 0;
	    right: 0;
	}
}
.tax-ct_project-type,
.post-type-archive-cpt_projects{
	.jumbotron{
		margin-bottom: 0 !important;
	}
}